---
- name: Copy certificate to temp location
  ansible.builtin.copy:
    src: "{{ role_path }}/files/{{ cert_file }}"
    dest: "{{ temp_cert_path }}"
    mode: "0644"

- name: Copy private key to temp location
  ansible.builtin.copy:
    src: "{{ role_path }}/files/{{ key_file }}"
    dest: "{{ temp_key_path }}"
    mode: "0600"

- name: Copy CA bundle to temp location
  ansible.builtin.copy:
    src: "{{ role_path }}/files/{{ ca_bundle_file }}"
    dest: "{{ temp_ca_bundle_path }}"
    mode: "0644"

- name: Check if ldap-tls secret exists
  ansible.builtin.command:
    cmd: kubectl -n {{ ldap_namespace }} get secret {{ ldap_secret_name }}
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"
  register: ldap_tls_secret
  failed_when: false
  changed_when: false

- name: Read certificate from remote host
  ansible.builtin.slurp:
    src: "{{ temp_cert_path }}"
  register: cert_content
  when: ldap_tls_secret.rc != 0

- name: Read private key from remote host
  ansible.builtin.slurp:
    src: "{{ temp_key_path }}"
  register: key_content
  when: ldap_tls_secret.rc != 0

- name: Read CA bundle from remote host
  ansible.builtin.slurp:
    src: "{{ temp_ca_bundle_path }}"
  register: ca_content
  when: ldap_tls_secret.rc != 0

- name: Create OpenLDAP TLS secret with CA bundle
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ ldap_secret_name }}"
        namespace: "{{ ldap_namespace }}"
      type: kubernetes.io/tls
      data:
        tls.crt: "{{ cert_content.content }}" # ja está em base64!
        tls.key: "{{ key_content.content }}" # ja está em base64!
        ca.crt: "{{ ca_content.content }}" # ja está em base64!
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"
  when: ldap_tls_secret.rc != 0
