---
- name: "Update /etc/hosts with DNS entries"
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: "^.*{{ item.domain | regex_escape }}$"
    line: "{{ item.ip }} {{ item.domain }}"
    state: present
    create: true
    mode: '0644'
  loop: "{{ dns_entries }}"
  when: dns_entries is defined
