---
- name: Setup Helm repository
  ansible.builtin.include_tasks: setup_helm_repo.yml

- name: Setup namespace
  ansible.builtin.include_tasks: setup_namespace.yml

- name: Create certificate fullchain (requisito para setup_ca_secrets.yml e setup_tls_secret.yml)
  ansible.builtin.include_tasks: create_fullchain.yml

- name: Setup CA secrets
  ansible.builtin.include_tasks: setup_ca_secrets.yml

- name: Setup TLS secret
  ansible.builtin.include_tasks: setup_tls_secret.yml

- name: Install Rancher
  ansible.builtin.include_tasks: install_rancher.yml

- name: Cleanup temporary files
  ansible.builtin.include_tasks: cleanup.yml

- name: Verify deployment
  ansible.builtin.include_tasks: verify_deployment.yml
