---
- name: Create cattle-system namespace
  ansible.builtin.command:
    cmd: kubectl create namespace cattle-system
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"
  register: create_ns
  failed_when: false
  changed_when: "'created' in create_ns.stdout"
