---
- name: Check if tls-ca secret exists
  ansible.builtin.command:
    cmd: kubectl -n cattle-system get secret tls-ca &>/dev/null
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"
  register: tls_ca_secret
  failed_when: false
  changed_when: false

- name: Create CA certificate secret for privateCA
  ansible.builtin.command:
    cmd: >
      kubectl -n cattle-system create secret generic tls-ca
      --from-file=cacerts.pem={{ temp_cert_chain_path }}
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"
  when: tls_ca_secret.rc != 0
  changed_when: true

- name: Check if tls-ca-additional secret exists
  ansible.builtin.command:
    cmd: kubectl -n cattle-system get secret tls-ca-additional &>/dev/null
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"
  register: tls_ca_additional_secret
  failed_when: false
  changed_when: false

- name: Create CA bundle for additional trusted CAs
  ansible.builtin.include_tasks: create_bundle_ca.yml
  when: tls_ca_additional_secret.rc != 0

- name: Create additional CA certificate secret for additionalTrustedCAs
  ansible.builtin.command:
    cmd: >
      kubectl -n cattle-system create secret generic tls-ca-additional
      --from-file=ca-additional.pem=/tmp/ca-bundle.pem
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"
  when: tls_ca_additional_secret.rc != 0
  changed_when: true
