---
- name: Set master variable fact from group
  ansible.builtin.set_fact:
    rke2_master_ip: >-
      {{ hostvars[groups['rke2_server'][0]]['ansible_host'] |
         default(hostvars[groups['rke2_server'][0]]['ansible_ssh_host']) |
         default('192.168.56.120') }}

- name: Get token from master if not defined
  ansible.builtin.set_fact:
    rke2_token: "{{ hostvars[groups['rke2_server'][0]]['rke2_token'] }}"
  when: rke2_token is not defined

- name: Install RKE2 Agent
  ansible.builtin.command: sh /tmp/install_rke2.sh
  environment:
    INSTALL_RKE2_TYPE: "agent"
    RKE2_URL: "https://{{ rke2_master_ip }}:9345"
    RKE2_TOKEN: "{{ rke2_token }}"
    INSTALL_RKE2_EXEC: "agent --node-ip={{ rke2_node_ip }}"
  changed_when: true

- name: Enable and start RKE2 Agent
  ansible.builtin.systemd:
    name: rke2-agent
    enabled: true
    state: started
