---
- name: Ensure RKE2 config directory exists
  ansible.builtin.file:
    path: /etc/rancher/rke2
    state: directory
    mode: "0755"

- name: Ensure RKE2 manifests directory exists
  ansible.builtin.file:
    path: /var/lib/rancher/rke2/server/manifests/
    state: directory
    mode: "0755"

- name: Copy config.yaml to /etc/rancher/rke2/config.yaml
  ansible.builtin.template:
    src: config.yaml.j2
    dest: /etc/rancher/rke2/config.yaml
    mode: "0644"

- name: Copy rke2-canal-config.yaml to /var/lib/rancher/rke2/server/manifests/rke2-canal-config.yaml
  ansible.builtin.copy:
    src: rke2-canal-config.yaml
    dest: /var/lib/rancher/rke2/server/manifests/rke2-canal-config.yaml
    mode: "0644"

- name: Install RKE2 Server
  ansible.builtin.command: sh /tmp/install_rke2.sh
  environment:
    INSTALL_RKE2_TYPE: "server"
  changed_when: true

- name: Enable and start RKE2 Server
  ansible.builtin.systemd:
    name: rke2-server
    enabled: true
    state: started

- name: Wait for node-token to manifest (Server)
  ansible.builtin.wait_for:
    path: /var/lib/rancher/rke2/server/node-token
    state: present

- name: Get node token (Server)
  ansible.builtin.slurp:
    src: /var/lib/rancher/rke2/server/node-token
  register: rke2_token_base64

- name: Set token fact (Server)
  ansible.builtin.set_fact:
    rke2_token: "{{ rke2_token_base64.content | b64decode | trim }}"

- name: Copy kubeconfig to user (Server)
  ansible.builtin.copy:
    src: /etc/rancher/rke2/rke2.yaml
    dest: /home/{{ ansible_user }}/.kube/config
    remote_src: true
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0600"
  failed_when: false
