---
- name: Install RKE2 Server
  ansible.builtin.command: sh /tmp/install_rke2.sh
  environment:
    INSTALL_RKE2_TYPE: "server"
    INSTALL_RKE2_EXEC: >-
      server
      --node-ip={{ rke2_node_ip }}
      --advertise-address={{ rke2_node_ip }}
      --tls-san={{ rke2_node_ip }}
      --tls-san={{ ansible_hostname }}
      --write-kubeconfig-mode=644
  changed_when: true

- name: Enable and start RKE2 Server
  ansible.builtin.systemd:
    name: rke2-server
    enabled: true
    state: started

- name: Wait for node-token to manifest (Server)
  ansible.builtin.wait_for:
    path: /var/lib/rancher/rke2/server/node-token
    state: present

- name: Get node token (Server)
  ansible.builtin.slurp:
    src: /var/lib/rancher/rke2/server/node-token
  register: rke2_token_base64

- name: Set token fact (Server)
  ansible.builtin.set_fact:
    rke2_token: "{{ rke2_token_base64.content | b64decode | trim }}"

- name: Copy kubeconfig to user (Server)
  ansible.builtin.copy:
    src: /etc/rancher/rke2/rke2.yaml
    dest: /home/{{ ansible_user }}/.kube/config
    remote_src: true
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0600"
  failed_when: false
