services:
  control:
    build:
      context: .
      dockerfile: control.Dockerfile
    volumes:
      - ..:/workspaces/rancher-cluster:cached
    networks:
      - cluster-net

  node-01:
    build:
      context: .
      dockerfile: node.Dockerfile
    hostname: node-01
    networks:
      - cluster-net
    privileged: true
    cgroupns: host
    stop_signal: SIGRTMIN+3
    tmpfs:
      - /run
      - /run/lock
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw

  node-02:
    build:
      context: .
      dockerfile: node.Dockerfile
    hostname: node-02
    networks:
      - cluster-net
    privileged: true
    cgroupns: host
    stop_signal: SIGRTMIN+3
    tmpfs:
      - /run
      - /run/lock
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw

  node-03:
    build:
      context: .
      dockerfile: node.Dockerfile
    hostname: node-03
    networks:
      - cluster-net
    privileged: true
    cgroupns: host
    stop_signal: SIGRTMIN+3
    tmpfs:
      - /run
      - /run/lock
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw

  node-04:
    build:
      context: .
      dockerfile: node.Dockerfile
    hostname: node-04
    networks:
      - cluster-net
    privileged: true
    cgroupns: host
    stop_signal: SIGRTMIN+3
    tmpfs:
      - /run
      - /run/lock
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw

  rancher-server:
    build:
      context: .
      dockerfile: node.Dockerfile
    hostname: rancher-server
    networks:
      - cluster-net
    privileged: true
    cgroupns: host
    stop_signal: SIGRTMIN+3
    tmpfs:
      - /run
      - /run/lock
    volumes:
      - rancher-data:/var/lib/rancher
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    ulimits:
      nofile:
        soft: 65536
        hard: 65536

networks:
  cluster-net:
    driver: bridge

volumes:
  rancher-data: