---
- name: Create vault namespace
  kubernetes.core.k8s:
    name: "{{ vault_namespace }}"
    api_version: v1
    kind: Namespace
    state: present
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"
