---
- name: Download Helm installation script
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
    dest: /tmp/get_helm.sh
    mode: '0755'

- name: Run Helm installation script
  ansible.builtin.command:
    cmd: /tmp/get_helm.sh
  args:
    creates: /usr/local/bin/helm
