---
- name: Detect cluster type
  ansible.builtin.import_tasks: detect_cluster.yml

- name: Setup kubeconfig for VM users
  ansible.builtin.import_tasks: setup_vm_users.yml

- name: Copy kubeconfig to localhost
  ansible.builtin.import_tasks: copy_to_localhost.yml
