---
- name: Check if k3s.yaml exists
  ansible.builtin.stat:
    path: /etc/rancher/k3s/k3s.yaml
  register: k3s_yaml

- name: Create .kube directory for users
  ansible.builtin.file:
    path: "/home/{{ item }}/.kube"
    state: directory
    owner: "{{ item }}"
    group: "{{ item }}"
    mode: '0700'
  loop: "{{ target_users }}"
  when: item != 'root'

- name: Create .kube directory for root
  ansible.builtin.file:
    path: "/root/.kube"
    state: directory
    owner: root
    group: root
    mode: '0700'
  when: "'root' in target_users"

- name: Copy k3s.yaml to users' kubeconfig
  ansible.builtin.copy:
    src: /etc/rancher/k3s/k3s.yaml
    dest: "{{ '/root' if item == 'root' else '/home/' + item }}/.kube/config"
    remote_src: true
    owner: "{{ item }}"
    group: "{{ item }}"
    mode: '0600'
  loop: "{{ target_users }}"
  when: k3s_yaml.stat.exists

- name: Set KUBECONFIG permission for users (fallback if copy fails or for existing)
  ansible.builtin.file:
    path: "{{ '/root' if item == 'root' else '/home/' + item }}/.kube/config"
    owner: "{{ item }}"
    group: "{{ item }}"
    mode: '0600'
  loop: "{{ target_users }}"
  when: k3s_yaml.stat.exists
