---
- name: Add HashiCorp Helm repository
  kubernetes.core.helm_repository:
    name: hashicorp
    repo_url: https://helm.releases.hashicorp.com
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"

- name: Create vault namespace
  kubernetes.core.k8s:
    name: vault
    api_version: v1
    kind: Namespace
    state: present
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"

- name: Create Vault TLS secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: vault-tls
        namespace: vault
      type: kubernetes.io/tls
      data:
        tls.crt: "{{ lookup('file', role_path + '/files/arq.unb.br.crt') | b64encode }}"
        tls.key: "{{ lookup('file', role_path + '/files/arq.unb.br.key') | b64encode }}"
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"

- name: Install HashiCorp Vault
  kubernetes.core.helm:
    name: vault
    chart_ref: hashicorp/vault
    release_namespace: vault
    update_repo_cache: true
    values:
      global:
        enabled: true
        tlsDisable: false
      server:
        extraEnvironmentVars:
          VAULT_CACERT: /vault/userconfig/vault-tls/tls.crt
        volumes:
          - name: vault-tls
            secret:
              secretName: vault-tls
        volumeMounts:
          - mountPath: /vault/userconfig/vault-tls
            name: vault-tls
            readOnly: true
        standalone:
          enabled: true
          config: |
            ui = true
            listener "tcp" {
              tls_disable = 0
              address = "[::]:8200"
              cluster_address = "[::]:8201"
              tls_cert_file = "/vault/userconfig/vault-tls/tls.crt"
              tls_key_file = "/vault/userconfig/vault-tls/tls.key"
            }
            storage "file" {
              path = "/vault/data"
            }
        ingress:
          enabled: true
          annotations:
            kubernetes.io/ingress.class: traefik
          hosts:
            - host: vault.arq.unb.br
              paths: []
          tls:
            - hosts:
                - vault.arq.unb.br
              secretName: vault-tls
      injector:
        enabled: true
      ui:
        enabled: true
        serviceType: ClusterIP
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"

- name: Create vault-secrets-operator namespace
  kubernetes.core.k8s:
    name: vault-secrets-operator
    api_version: v1
    kind: Namespace
    state: present
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"

- name: Install Vault Secrets Operator
  kubernetes.core.helm:
    name: vault-secrets-operator
    chart_ref: hashicorp/vault-secrets-operator
    release_namespace: vault-secrets-operator
    values:
      defaultVaultConnection:
        enabled: true
        address: "https://vault.vault.svc.cluster.local:8200"
        skipTLSVerify: true
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"

